In [ ]:
# Import pandas and set up the order info sheet

import pandas as pd

df = pd.read_excel('maven_ski_shop_data.xlsx', sheet_name=2)

df

,Order_ID,Customer_ID,Order_Date,Subtotal,Tax,Total,Location,Items_Ordered
0,100000,C00004,11/26/2021,15.98,NaN,NaN,Sun Valley,"10001, 10002"
1,100001,C00007,11/26/2021,899.97,NaN,NaN,Stowe,"10008, 10009, 10010"
2,100002,C00015,11/26/2021,799.97,NaN,NaN,Mammoth,"10011, 10012, 10013"
3,100003,C00016,11/26/2021,117.96,NaN,NaN,Stowe,"10002, 10003, 10004, 10006"
4,100004,C00020,11/26/2021,5.99,NaN,NaN,Sun Valley,10001
5,100005,C00010,11/26/2021,599.99,NaN,NaN,Mammoth,10010
6,100006,C00006,11/26/2021,24.99,NaN,NaN,Mammoth,10004
7,100007,C00001,11/26/2021,1799.94,NaN,NaN,Mammoth,"10008, 10008, 10009, 10009, 10009, 10010, 10010"
8,100008,C00003,11/26/2021,99.99,NaN,NaN,Sun Valley,10005
9,100009,C00014,11/26/2021,254.95,NaN,NaN,Sun Valley,"10002, 10003, 10004, 10006, 10007"
10,100010,C00001,11/26/2021,29.98,NaN,NaN,Mammoth,"10002, 10003"
11,100011,C00001,11/26/2021,99.99,NaN,NaN,Mammoth,10005
12,100012,C00005,11/26/2021,25.98,NaN,NaN,Sun Valley,"10001, 10003"
13,100013,C00008,11/26/2021,649.98,NaN,NaN,Stowe,"10012, 10013"
14,100014,C00013,11/26/2021,89.99,NaN,NaN,Sun Valley,10014
15,100020,C00004,11/27/2021,119.99,NaN,NaN,Sun Valley,10007
16,100021,C00017,11/27/2021,599.99,NaN,NaN,Stowe,10010
17,100022,C00019,11/27/2021,649.98,NaN,NaN,Sun Valley,"10012, 10013"
18,100023,C00002,11/27/2021,24.99,NaN,NaN,Stowe,10004
19,100024,C00008,11/27/2021,99.99,NaN,NaN,Stowe,10005
20,100025,C00021,11/27/2021,99.99,NaN,NaN,Mammoth,10008
21,100026,C00022,11/27/2021,5.99,NaN,NaN,Sun Valley,10001
22,100027,C00006,11/28/2021,24.99,NaN,NaN,Mammoth,10002
23,100031,C00018,11/28/2021,999.96,NaN,NaN,Stowe,"10005, 10008, 10009, 10010"
24,100032,C00018,11/28/2021,99.99,NaN,NaN,Stowe,10006
25,100033,C00010,11/28/2021,399.97,NaN,NaN,Mammoth,"10005, 10008, 10009"
26,100034,C00016,11/28/2021,89.99,NaN,NaN,Stowe,10014